websocket-client[optional]==1.9.0
pyyaml==6.0.3
telethon==1.44.0
python_socks==2.8.2
async_timeout==5.0.1
coloredlogs==15.0.1
websockets==16.1.1
aiohttp[speedups]==3.14.1
ffmpy3==0.2.4
# 直链功能依赖
pyrogram==2.0.93
TgCrypto==1.2.5
python-dotenv==1.2.2
psutil==7.2.2
# 缩略图生成依赖
Pillow==12.3.0
